{% extends 'base.html' %}
{% load static %}
{% block styles %}{% static 'show-books.css' %}{% endblock %}
{% block content %}
    {% include 'partials/nav.html' %}
{#    <h2>Books</h2>#}
<div class="random-book">
          <a href="{% url 'show random book' %}"><button class="random-btn">Show another book </button></a>

        <div class="random-book">
          <div class="book-title result">
              {{ book.title }} {{ book.pk }}
              {% include 'partials/book-item.html' %}
{#              <a href="{% url 'add random book to tbr' book.pk %}"><button class="add-to-tbr-btn">Add to TBR</button></a>#}
              </div>

        </div>
      </div>
{% endblock %}