{% extends 'base.html' %}
{% load static %}
{% block styles %}{% static 'review-form.css' %}{% endblock %}
{% block content %}
    {% include 'partials/nav.html' %}
{#    <h2>Books</h2>#}
<div class="review-container">
    <h3>Review of {{ book.title }} by {{ book.author }}</h3>
{#    {% if review %}#}
{#    <form method="post" action="{% url 'book review edit' slug=slug %}" >#}
{#        {{ form.as_p }}#}
{#        {% csrf_token %}#}
{#        <button type="submit">Submit</button>#}
{##}
{#    </form>#}
{#{% else %}#}
        <form method="post" action="{% url 'book review create' slug=slug %}" >
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="submit-btn">Submit</button>

    </form>
{#{% endif %}#}
</div>
{% endblock %}