{% extends 'base.html' %}
{% load static %}
{% block styles %}{% static 'show-books.css' %}{% endblock %}
{% block content %}
    {% include 'partials/nav.html' %}
    <h2>Books</h2>
<div class="search-div">
              <form action="{% url 'search view' %}" method="GET">
              <input
          type="text"
          class="search-book"
          placeholder="Search for a book or an author..."
          name="title_or_author"
        />
        <button class="search-book-btn">Go</button>
                  </form>
          </div>

          <div class=".book-search-result result">
          <h3>Results:</h3>
              <ul class="">
              {% if query_made %}
                  {% if queryset|length_is:'0' %}
                            <li>no results</li>
                      {% else %}
                  {% for book in queryset %}
                      <li>
                       {% include 'partials/book-item.html' %}
                      {% if book.status == "FN" %}
                          {% if review %}
                    <a class="review-btn" href="{% url 'book review edit' slug=book.slug %}">Review</a>
                {% else %}
                    <a class="review-btn" href="{% url 'book review create' slug=book.slug %}">Review</a>
                {% endif %}

                          {% elif book.status == "TR"%}
                          <a class="start-btn" href="{% url 'start book' book.pk %}">Start</a>
                          {% elif book.status == "CR"%}
                          <a class="finish-btn" href="{% url 'finish book' book.pk %}">Finish</a>
                          {% elif book.status == "NR"%}
                          <a class="finish-btn" href="{% url 'add book to tbr' book.pk %}">Add to TBR</a>
                      {% endif %}
                      </li>
                  {% endfor %}
                      {% endif %}
              {% endif %}
              </ul>
          </div>
{% endblock %}