{% extends 'base.html' %}
{% load static %}
{% block styles %}{% static 'show-books.css' %}{% endblock %}
{% block content %}
        <!-- extends base.html -->
    <!-- includes nav.html -->
    {% include 'partials/nav.html' %}
    <h2>Books</h2>
    <div class="search-div">
              <form action="{% url 'search view' %}" method="GET">
              <input
          type="text"
          class="search-book"
          placeholder="Search for a book or an author..."
          name="title_or_author"
        />
        <button class="search-book-btn">Go</button>
                  </form>
          </div>

    <main class="main-books">
    <div class="tbr-container">
    <h3>Your TBR</h3>
    <ul>
        {% for book in tbr_books.all %}
{#            <li>#}
{#            {{ book.title }} by {{ book.author }}#}
{#            </li>#}
            <li>
                {% include 'partials/book-item.html' %}
                <a class="start-btn" href="{% url 'start book' book.pk %}">Start</a>

            </li>

        {% endfor %}
    </ul>

    </div>

{#      <div class="add-to-tbr-div">#}
{#          <div class="search-div">#}
{#              <form action="{% url 'search view' %}" method="GET">#}
{#              <input#}
{#          type="text"#}
{#          class="search-book"#}
{#          placeholder="Search for a book or an author..."#}
{#          name="title_or_author"#}
{#        />#}
{#        <button class="search-book-btn">Go</button>#}
{#                  </form>#}
{#          </div>#}

{#          <div class=".book-search-result result">#}
{#              <ul class="">#}
{#              {% if query_made %}#}
{#                  {% if queryset|length_is:'0' %}#}
{#                            <li>no results</li>#}
{#                      {% else %}#}
{##}
{#                  {% for result in queryset %}#}
{#                      <li>{{ result.title }} by {{ result.author }}</li>#}
{#                  {% endfor %}#}
{#                      {% endif %}#}
{#              {% endif %}#}
{#              </ul>#}
{#          </div>#}

{#      </div>#}
      <div class="random-book">
        <button class="random-btn">Find me a random book to read!</button>
        <div class="random-book">
          <div class="book-title result">Book shows here</div>
          <button class="add-to-tbr-btn">Add to TBR</button>
        </div>
      </div>
    </main>
{% endblock %}