{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- MAIN SECTION START -->
    <main>
      <!-- GREETING DIV START -->
      <div class="greeting">
        <h3>Welcome back, <span>user!</span></h3>
      </div>
      <!-- GREETING DIV END -->
      <!-- BOOKS MAIN START -->
      <div class="books-main">
        <!-- CURRENT BOOKS START -->
        <div class="current-books books-section">
          <h3>You are currently reading:</h3>
          <ul>
            <!-- link to the book -->
            <li class="book-item">
              <a href="#">Harry Potter and the Goblet of Fire</a>
              <button class="finish-btn">Finish</button>
            </li>
            <li class="book-item">
              <a href="#">Stories of Your Life and Others</a>
              <button class="finish-btn">Finish</button>
            </li>
            <li class="book-item">
              <a href="#">Jane Eyre</a
              ><button class="finish-btn">Finish</button>
            </li>
            <li class="book-item">
              <a href="#">Project Hail Mary</a>
              <button class="finish-btn">Finish</button>
            </li>
          </ul>
        </div>
        <!-- CURRENT BOOKS END -->
        <!-- TO READ BOOKS START -->
        <div class="to-read-books books-section">
          <h3>You want to read:</h3>
          <ul>
            <!-- link to the book -->
            <li class="book-item">
              <a href="#">Harry Potter and the Goblet of Fire</a
              ><button class="start-btn">Start</button>
            </li>
            <li class="book-item">
              <a href="#">Stories of Your Life and Others</a
              ><button class="start-btn">Start</button>
            </li>
            <li class="book-item">
              <a href="#">Jane Eyre</a><button class="start-btn">Start</button>
            </li>
            <li class="book-item">
              <a href="#">Project Hail Mary</a
              ><button class="start-btn">Start</button>
            </li>
          </ul>
        </div>
        <!-- TO READ BOOKS END -->
        <!-- READ BOOKS START -->
        <div class="past-books books-section">
          <h3>You recently read:</h3>
          <ul>
            <!-- link to the book -->
            <li class="book-item">
              <a href="#">Harry Potter and the Goblet of Fire</a
              ><button class="review-btn">Review</button>
            </li>
            <li class="book-item">
              <a href="#">Stories of Your Life and Others</a
              ><button class="review-btn">Review</button>
            </li>
            <li class="book-item">
              <a href="#">Jane Eyre</a
              ><button class="review-btn">Review</button>
            </li>
            <li class="book-item">
              <a href="#">Project Hail Mary</a
              ><button class="review-btn">Review</button>
            </li>
          </ul>
        </div>
        <!-- READ BOOKS END -->
      </div>
      <!-- BOOKS MAIN END -->
    </main>
    <!-- MAIN SECTION END -->
{% endblock %}

