{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <!-- HEADER START -->
    <header>
      <div class="logo-and-title">
        <div class="logo">
          <img
            src="/static/images/logo.svg"
            alt="logo books stack"
            width="50"
            height="50"
            class="logo-img"
          />
        </div>
        <h1>BIBLIOTECA.</h1>
      </div>
      <div class="menu-and-icons">
        <img class="hamburger-icon" src="{% static '/images/hamburger-icon.png' %}"
        alt="hamburger menu" width="40" height="40" />
        <img
          class="close-icon"
          src="{% static '/images/close-icon.png' %}"
          alt="close mobile menu"
          width="40"
          height="40"
        />
        <div class="menu">
          <nav>
            <li><a href="#" class="menu-item">Profile</a></li>
            <li><a href="#" class="menu-item">Books</a></li>
            <li><a href="#" class="menu-item">Store</a></li>
          </nav>
          <div class="actions">
            <li><a href="#" class="logout-btn menu-item">Logout</a></li>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER END -->
    <!-- MAIN SECTION START -->
    <main>
      <!-- GREETING DIV START -->
      <div class="greeting">
        <h3>Welcome back, <span>user!</span></h3>
      </div>
      <!-- GREETING DIV END -->
      <!-- BOOKS MAIN START -->
      <div class="books-main">
        <!-- CURRENT BOOKS START -->
        <div class="current-books books-section">
          <h3>You are currently reading:</h3>
          <ul>
            <!-- link to the book -->
            <li class="book-item">
              <a href="#">Harry Potter and the Goblet of Fire</a>
              <button class="finish-btn">Finish</button>
            </li>
            <li class="book-item">
              <a href="#">Stories of Your Life and Others</a>
              <button class="finish-btn">Finish</button>
            </li>
            <li class="book-item">
              <a href="#">Jane Eyre</a
              ><button class="finish-btn">Finish</button>
            </li>
            <li class="book-item">
              <a href="#">Project Hail Mary</a>
              <button class="finish-btn">Finish</button>
            </li>
          </ul>
        </div>
        <!-- CURRENT BOOKS END -->
        <!-- TO READ BOOKS START -->
        <div class="to-read-books books-section">
          <h3>You want to read:</h3>
          <ul>
            <!-- link to the book -->
            <li class="book-item">
              <a href="#">Harry Potter and the Goblet of Fire</a
              ><button class="start-btn">Start</button>
            </li>
            <li class="book-item">
              <a href="#">Stories of Your Life and Others</a
              ><button class="start-btn">Start</button>
            </li>
            <li class="book-item">
              <a href="#">Jane Eyre</a><button class="start-btn">Start</button>
            </li>
            <li class="book-item">
              <a href="#">Project Hail Mary</a
              ><button class="start-btn">Start</button>
            </li>
          </ul>
        </div>
        <!-- TO READ BOOKS END -->
        <!-- READ BOOKS START -->
        <div class="past-books books-section">
          <h3>You recently read:</h3>
          <ul>
            <!-- link to the book -->
            <li class="book-item">
              <a href="#">Harry Potter and the Goblet of Fire</a
              ><button class="review-btn">Review</button>
            </li>
            <li class="book-item">
              <a href="#">Stories of Your Life and Others</a
              ><button class="review-btn">Review</button>
            </li>
            <li class="book-item">
              <a href="#">Jane Eyre</a
              ><button class="review-btn">Review</button>
            </li>
            <li class="book-item">
              <a href="#">Project Hail Mary</a
              ><button class="review-btn">Review</button>
            </li>
          </ul>
        </div>
        <!-- READ BOOKS END -->
      </div>
      <!-- BOOKS MAIN END -->
    </main>
    <!-- MAIN SECTION END -->
    <!-- FOOTER START -->
    <footer>
      <li class="footer-item about"><a href="#">About Biblioteca.</a></li>
      <li class="footer-item team"><a href="#">Team</a></li>
      <li class="footer-item t-and-c"><a href="#">Terms and Conditions</a></li>
      <li class="footer-item copyright"><a href="#">Copyright</a></li>
    </footer>
    <!-- FOOTER END -->
    <!-- JS SCRIPT -->
    <!-- MOBILE MENU NOT COMPLETELY FUNCTIONAL -->
    <script>
      const menuBtn = document.querySelector(".hamburger-icon");
      const closeBtn = document.querySelector(".close-icon");
      const menu = document.querySelector(".menu");
      const nav = document.querySelector("nav");
      menuBtn.addEventListener("click", () => {
        closeBtn.style.display = "block";
        menu.style.display = "flex";
        nav.style.display = "block";
        menuBtn.style.display = "none";
      });

      closeBtn.addEventListener("click", () => {
        closeBtn.style.display = "none";
        menuBtn.style.display = "block";
        menu.style.display = "none";
      });
    </script>
  </body>
</html>
