{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/nav.html'%}
    <!-- MAIN SECTION START -->
    <main>
      <!-- GREETING DIV START -->
      <div class="greeting">
        <h3>Welcome back, <span class="username">user!</span></h3>
      </div>
      <!-- GREETING DIV END -->
      <!-- BOOKS MAIN START -->
      <div class="books-main">
        <!-- CURRENT BOOKS START -->
        <div class="current-books books-section">
          <h3>You are currently reading:</h3>
          <ul>
              {% for book in current_books %}
            <!-- link to the book -->
            <li class="book-item">
              {% include 'partials/book-item.html' %}
              <button class="finish-btn">Finish</button>
            </li>
              {% endfor %}
          </ul>
        </div>
        <!-- CURRENT BOOKS END -->
        <!-- TO READ BOOKS START -->
        <div class="to-read-books books-section">
          <h3>You want to read:</h3>
          <ul>
              {% for book in tbr_books %}
            <!-- link to the book -->
            <li class="book-item">
              {% include 'partials/book-item.html' %}
              <button class="start-btn">Start</button>
            </li>
              {% endfor %}

          </ul>
        </div>
        <!-- TO READ BOOKS END -->
        <!-- READ BOOKS START -->
        <div class="past-books books-section">
          <h3>You recently read:</h3>
          <ul>
              {% for book in finished_books %}
            <!-- link to the book -->
            <li class="book-item">
{#              <a href="{% url 'book details' book.slug %}">{{ book.title }}, {{ book.author }}</a#}
{#              >#}
                {% include 'partials/book-item.html' %}
                <button class="review-btn">Review</button>
            </li>

              {% endfor %}
          </ul>
        </div>
        <!-- READ BOOKS END -->
      </div>
      <!-- BOOKS MAIN END -->
    </main>
    <!-- MAIN SECTION END -->
{% endblock %}

