{% extends 'base.html' %}
{% load static %}
{% block styles %}{% static 't-and-c.css' %}{% endblock %}
{% block content %}
    {% include 'partials/nav.html'%}
    <main>
        <div class="main-section">
    <h1 class="title-page">Terms and Conditions of Use</h1>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
            <ul>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, distinctio exercitationem expedita fugiat molestias sed.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores fuga hic illo ipsum magnam non numquam odio possimus praesentium quasi quidem, quis quo sed sint sit ullam, unde ut.</p>
            </ul>
    </div>

    </main>


{% endblock %}