main {
    display: flex;
    align-items: center;
}
/* ABOUT */
.about-section {
    width: 70rem;
    background-color: white;
    margin: auto;
    padding: 2em;
}

.about-section .title-page {
    padding-bottom: 1em;
}

