.cart-link {
    background-color: white;
    color: #001f54;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #001f54;
    border-radius: 5px;
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.store-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    /*width: 100vw;*/
    /*height: 100%;*/
    /*margin: -3em -3em 2em;*/
    /*margin-right: -4em;*/
   /* width: 100%;*/
   /*width: 100vw;*/
}

.search-bar {
    padding-left: 5em;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .4em;

}

.search-bar input {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    height: 33px;
    padding: 0 .4em;
    border: 2px solid #001f54;
    border-radius: 5px;
}

.search-btn {
        background-color: white;
    color: #001f54;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #001f54;
    border-radius: 5px;
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
}

.search-btn:hover {
    background-color: #001f54;
    color: white;
}

.cart-img {

    width: 30px;
}
/* BOOK DETAILS */

.product {
    display: flex;
    background-color: white;
    padding: 3em;
    margin-bottom: 4em;
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.description {
    color: #001f54;
    width: 20em;
}

.price, .pages {
    font-weight: 600;
}

.product-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1em;
    line-height: 1.5
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1em;
    line-height: 1.5
}

.author {
    font-style: italic;
}

.book-img {
    width: 300px;
        margin-bottom: .7em;
    border-radius: 5px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

.add-to-cart-btn {
    background-color: white;
    color: #d81159;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d81159;
    border-radius: 5px;
    padding: .5em;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 800px) {
    .product {
        flex-direction: column;
    }
     .store-actions {
      flex-direction: column;
      gap: 1em;
      align-items: center;
      justify-content:center;
  }
}

