{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
      <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="stylesheet" href="{% block styles %}{% static 'style.css' %}{% endblock %}" />
  </head>
  <body>
  {% block content %}
    {% endblock %}
{# FOOTER START #}
<footer>
      <li class="footer-item about"><a href="#">About Biblioteca.</a></li>
      <li class="footer-item team"><a href="#">Team</a></li>
      <li class="footer-item t-and-c"><a href="#">Terms and Conditions</a></li>
      <li class="footer-item copyright"><a href="#">Copyright</a></li>
     <li class="footer-item copyright"><a href="#">Delivery</a></li>
     <li class="footer-item copyright"><a href="#">FAQ</a></li>
    </footer>
    <!-- FOOTER END -->
    <!-- JS SCRIPT -->
    <!-- MOBILE MENU NOT COMPLETELY FUNCTIONAL -->
    <script>
      const menuBtn = document.querySelector(".hamburger-icon");
      const closeBtn = document.querySelector(".close-icon");
      const menu = document.querySelector(".menu");
      const nav = document.querySelector("nav");
      menuBtn.addEventListener("click", () => {
        closeBtn.style.display = "block";
        menu.style.display = "flex";
        nav.style.display = "block";
        menuBtn.style.display = "none";
      });

      closeBtn.addEventListener("click", () => {
        closeBtn.style.display = "none";
        menuBtn.style.display = "block";
        menu.style.display = "none";
      });
    </script>
  </body>
</html>
